<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ParentNamespace" value=""/>
    <add key="ParentClass" value="MasterObject"/>
    <add key="LibraryNamespace" value=""/>
    <add key="LibraryClass" value=""/>
    <add key="DefaultDatabase" value="PaymentManagementSystem"/>
  </appSettings>
</configuration>